body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 211, 8);
    height: 100px;
    width: 100%;
}




.hamburguer {
  top: 11vh;  
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  left: 1rem;
  z-index: 2;
}


.menu {
  position: fixed;
  top: 10vh;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #1a1919;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  gap: 1rem;
  transition: left 0.3s ease;
}

#menu-toggle:checked ~ .menu {
  left: 0;
}

footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding: 10px 0;
}

main{
    flex: 1;
}


a{
  color: #333;
  text-decoration: none;


}

